{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo-green.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/base-min.css', 100) %}
        {% do assets.addCss('theme://css/omg.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">

{% block header %}
  <header class="omg-header">
    <a class="omg-logo" href="{{ base_url == '' ? '/' : base_url }}">
      <img src="{{ url("theme://images/logo-green.png") }}" class="omg-logo__img" alt="OMG Design"/>
    </a>
    {% block header_navigation %}
    <nav class="main-nav">
      {% include 'partials/navigation.html.twig' %}
    </nav>
    {% endblock %}
  </header>
{% endblock %}

{% block body %}
  <section class="main-content">
    {% block content %}{% endblock %}
  </section>
{% endblock %}

{% block footer %}
  <footer class="omg-footer">
    <ul>
      <li><a href="https://www.facebook.com/ofe.spirographist/">FB</a></li>
      <li><a href="https://www.instagram.com/ofe_spirographist/">Insta</a></li>
      <li><a href="https://fr.pinterest.com/ophelieabbott/">Pinterest</a></li>
    </ul>
  </footer>
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
